html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
  }
  .mdl-demo .mdl-layout__header-row {
    padding-left: 40px;
  }
  .mdl-background--teal-100 {
    background-color: rgb(15, 240, 240) !important; }
   /*background-image:url(./images/I.png);//What?
    float: left;
    margin: 0 10px;
    max-width: 100%;
    height: auto;*/
  .mdl-mega-footer {
    padding: 16px 40px;
    color: rgb(158,158,158);
    background-color: rgb(66,66,66); }
    .mdl-mega-footer--drop-down-section,
    .mdl-mega-footer__drop-down-section {
      display: block;
      position: relative; }
    
    @media screen and (min-width: 760px) {
      .mdl-mega-footer--drop-down-section,
      .mdl-mega-footer__drop-down-section {
        width: 33%; }
      .mdl-mega-footer--drop-down-section:nth-child(1),
      .mdl-mega-footer--drop-down-section:nth-child(2),
      .mdl-mega-footer__drop-down-section:nth-child(1),
      .mdl-mega-footer__drop-down-section:nth-child(2) {
        float: left; }
      .mdl-mega-footer--drop-down-section:nth-child(3),
      .mdl-mega-footer__drop-down-section:nth-child(3) {
        float: right; }
        .mdl-mega-footer--drop-down-section:nth-child(3):after,
        .mdl-mega-footer__drop-down-section:nth-child(3):after {
          clear: right; }
      .mdl-mega-footer--drop-down-section:nth-child(4),
      .mdl-mega-footer__drop-down-section:nth-child(4) {
        clear: right;
        float: right; }
      .mdl-mega-footer--middle-section:after,
      .mdl-mega-footer__middle-section:after {
        content: '';
        display: block;
        clear: both; }
      .mdl-mega-footer--bottom-section,
      .mdl-mega-footer__bottom-section {
        padding-top: 0; } }
    
    @media screen and (min-width: 1024px) {
      .mdl-mega-footer--drop-down-section,
      .mdl-mega-footer--drop-down-section:nth-child(3),
      .mdl-mega-footer--drop-down-section:nth-child(4),
      .mdl-mega-footer__drop-down-section,
      .mdl-mega-footer__drop-down-section:nth-child(3),
      .mdl-mega-footer__drop-down-section:nth-child(4) {
        width: 18%;
        float: left; } }
