html, body {
font-family: 'Roboto', 'Helvetica', sans-serif;
margin: 0;
padding: 0;
}
.mdl-demo .mdl-layout__header-row {
padding-left: 40px;
}
.mdl-background--teal-100 {
background-color: rgb(255, 255, 255);
background-image:url(./images/I.png);
background-size: auto 100%;
background-repeat: no-repeat;
float: left;
margin: 0 10px;
max-width: 100%;
height: auto;
}
@media screen and (min-width: 1024px) {
.mdl-mega-footer--drop-down-section,
.mdl-mega-footer--drop-down-section:nth-child(3),
.mdl-mega-footer--drop-down-section:nth-child(4),
.mdl-mega-footer__drop-down-section,
.mdl-mega-footer__drop-down-section:nth-child(3),
.mdl-mega-footer__drop-down-section:nth-child(4) 
{width: 20%;
float: left; } 
}
